.tab {
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;    
    margin-right: 0.25rem;    
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-color: #cbd5e0;
    
}

.active {
    background-color: white;
    padding-bottom: 12px;
    padding-top: 9px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}